.users-grid {
    border: 2px solid lightgrey;
    height: 250px;
    background-color: white;
}

.properties-grid {
    border: 2px solid lightgrey;
    height: 250px;
    background-color: white;
}

.kv-grid {
    border: 2px solid lightgrey;
    height: 250px;
    background-color: white;
}

.ngRow.odd {
  background-color: white;
}
.ngRow.even {
  background-color: white;
}

.balance-grid {
    border: 2px solid lightgrey;
    height: 250px;
    background-color: white;
}

.tenpxbelow {
    margin-bottom: 10px;
}
.tenpxabove {
	margin-top: 10px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.ng-table-rowselected tr {
	cursor: pointer;
}

.ng-table th {
	text-align: left;
}

.whitebg {
	background-color: white;
}

.infolink::before
{
    content: '?';
    font-size: 14px;
    font-weight: 200;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ffffff;
    background: #d0d0d0;
}

.tooltip-inner {
    width: 400px;
}

.rn {
  font-family: "Lucida Grande", Consolas, arial, sans-serif;
  font-size: 13px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px; }

.rn > h1, .rn > h2, .rn > h3, .rn > h4, .rn > h5, .rn > h6 {
  font-family: Montserrat, Helvetica, arial, sans-serif;
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; 
  color : navy;
 }

.rn > h1 tt, .rn > h1 code {
  font-size: inherit; }

.rn > h2 tt, .rn > h2 code {
  font-size: inherit; }

.rn > h3 tt, .rn > h3 code {
  font-size: inherit; }

.rn > h4 tt, .rn > h4 code {
  font-size: inherit; }

.rn > h5 tt, .rn > h5 code {
  font-size: inherit; }

.rn > h6 tt, .rn > h6 code {
  font-size: inherit; }

.rn > h1 {
  text-transform: none;
  font-size: 28px;
  border-bottom: 2px solid #cccccc;
    font-variant: small-caps;
}

.rn > h2 {
  text-transform: none;
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
    font-variant: small-caps;
}

.rn > h3 {
  font-size: 18px; }

.rn > h4 {
  font-size: 16px; }

.rn > h5 {
  font-size: 14px; }

.rn > h6 {
  color: #777777;
  font-size: 14px; }

.rn > hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid black;
}

.rn > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
.rn > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
.rn > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
.rn > h3:first-child, .rn > h4:first-child, .rn > h5:first-child, .rn > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

.rn > a:first-child h1, .rn > a:first-child h2, .rn > a:first-child h3, .rn > a:first-child h4, .rn > a:first-child h5, .rn > a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

.rn.rn > li p.first {
  display: inline-block; }
.rn.rn > li {
  margin: 0; }
.rn.rn > ul, ol {
  padding-left: 30px; }

.rn.rn > ul :first-child, .rn > ol :first-child {
  margin-top: 0; }



