body {
  background-color: #2D2424 !important;
}

.card,
.dropdown-menu,
.modal-content {
  background-color: #534242 !important;
}

.navbar > .container {
  border-bottom: 1px solid #534242 !important;
}
