body {
  background-color: #461111 !important;
}

.card,
.dropdown-menu,
.modal-content {
  background-color: #6c1a1a !important;
}

.navbar > .container {
  border-bottom: 1px solid #6c1a1a !important;
}
