body {
  background-color: #0b1d0e !important;
}

.card,
.dropdown-menu,
.modal-content {
  background-color: #194320 !important;
}

.navbar > .container {
  border-bottom: 1px solid #194320 !important;
}
