<div>
	<div class="well" style="padding-top:5px;">
		<h3 class="text-center"><i class="fa fa-trophy fa-2x"></i> Leaderboards</h3>
		<hr/>

		<div class="tenpxbelow hidden-print">
			<div class="form-group">
				<label for="ldb">Leaderboard</label>
				<select ng-model="leaderboard" ng-options="board.name for board in leaderboards" class="form-control" id="ldb">
				</select>
			</div>
			<div class="form-group">
				<button ng-show="options.removeLeaderboard" id="delete" class="btn btn-danger" ng-click="deleteLeaderboard()" ng-show="inDev"><span
						class="glyphicon glyphicon-trash"></span> Delete leaderboard
				</button>
				<button id="delete" class="btn btn-warning" ng-click="rebuildLeaderboard()"><span
						class="glyphicon glyphicon-repeat"></span> Rebuild this leaderboard
				</button>
			</div>
		</div>
		
		<p>Click on a player to see his highscores.</p>
		<hr/>
		<div class="table-responsive">
			<table ng-table="scoresTable" class="table ng-table-rowselected" show-filter="true">
				<tr ng-repeat="score in $data"
					ng-click="score.$selected = !score.$selected; changeSelection(score)"
					ng-class="{'active': score.$selected}">

					<td data-title="'GamerID'">
						{{score.gamer_id}}
					</td>
					<td data-title="'Name'" filter="{ 'q': 'text' }">
						{{score.profile.displayName}}
					</td>
					<td data-title="'Score'">
						{{score.score.score}}
					</td>
					<td data-title="'Info'">
						{{score.score.info}}
					</td>
					<td data-title="'Language'">
						{{score.profile.lang}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<script type="text/ng-template" id="leaderboards.best.html">
	<div class="modal-header">
		<h3>HighScores: {{user.profile.displayName}}</h3>
	</div>
	<div class="modal-body">

		<div class="tenpxabove">
			<div ng-repeat="(leaderboard, contents) in scores">
				<h4>{{leaderboard}} - Rank {{contents.rank}}
					<span class="pull-right">
						<span class="badge">{{contents.score}}</span>
						<a ng-click="deleteScore(leaderboard)" data-toggle="tooltip" data-placement="bottom" title="Delete score">
							<i class="glyphicon glyphicon-trash"/>
						</a>
					</span>
				</h4>
				<p><em>{{contents.info}}</em></p>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="close()">Close</button>
	</div>
</script>
