<div class="jumbotron text-center" style="padding-top:5px;">
    <h3><i class="fa fa-user fa-2x"></i> Sign in</h3>
        <form ng-submit="login()" class="form-horizontal" form-autofill-fix>
            <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" placeholder="Username" ng-model="user.username"/>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" placeholder="Password" ng-model="user.password"/><br/>
            </div>
            <div class="form-group">
                <label class="control-label">2FA code</label>
                <input type="text" placeholder="optional" ng-model="user.ggcode"/><br/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>

</div>