<div>
	<div class="well" style="padding-top:5px;" >
		<h2 class="text-center"><i class="fa fa-gamepad fa-2x"></i> Matches</h2>
		<hr/>

		<h4 class="text-center">Match with ID {{ matchForm._id }}</h4>

		<div class="modal-body">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3 control-label">Description</label>
					<div class="col-sm-9">
						<input type="text" ng-model= "matchForm.description" class="form-control" placeholder='Freeform text'>
					</div>
					<label class="col-sm-3 control-label">Properties (JSON)</label>
					<div class="col-sm-9">
						<input type="text" ng-model= "matchForm.customProperties" class="form-control" placeholder='{"public": false}'>
					</div>
					<label class="col-sm-3 control-label">Global state (JSON)</label>
					<div class="col-sm-9">
						<input type="text" ng-model= "matchForm.globalState" class="form-control" placeholder='{"state": "value"}'>
					</div>
					<label class="col-sm-3 control-label">Status</label>
					<div class="col-sm-9" class="form-control">
						<input type="text" ng-model= "match.status" class="form-control" disabled="true">
					</div>
				</div>
			</form>
		</div>

		<h4 class="text-center">Players ({{match.players.length}} out of {{match.maxPlayers}})</h4>

		<div class="tenpxbelow hidden-print">
			<div class="table-responsive">
				<table ng-table="matchesTable" class="table ng-table-rowselected" template-pagination="custom/hiddenpager">
					<tr ng-repeat="player in match.players" ng-class="'whitebg'">
						<td data-title="'Gamer ID'">
							{{player.gamer_id}}
						</td>
						<td data-title="'Name'">
							{{player.profile.displayName}}
						</td>
					</tr>
				</table>
				<script type="text/ng-template" id="custom/hiddenpager"></script>
			</div>
		</div>

		<h4 class="text-center">Event history</h4>

		<div class="tenpxbelow hidden-print">
			<div class="table-responsive">
				<table ng-table="matchesTable" class="table ng-table-rowselected" template-pagination="custom/hiddenpager">
					<tr ng-repeat="event in match.events" ng-class="'whitebg'" ng-click="changeSelection(event)">
						<td data-title="'Type'">
							{{event.type}}
						</td>
						<td data-title="'Player ID'">
							{{event.event.player_id}}
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">Save changes</button>
		</div>
	</div>
</div>

<script type="text/ng-template" id="showMatch.event.html">
	<div class="modal-header">
		<h3>Event description</h3>
	</div>
	<div class="modal-body">
		<div class="tenpxabove">
			<pre>{{eventDescription}}</pre>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="close()">Close</button>
	</div>
</script>
