<div>
	<div class="well" style="padding-top:5px;">
		<h3 class="text-center"><i class="fa fa-group fa-2x"></i> Users</h3>
		<hr/>

		<p>Note : click on a user's Id to see his data</p>

		<div class="tenpxbelow visible-lg hidden-print">
			<button ng-show="options.removeUser" id="delete" class="btn btn-danger" ng-disabled="selectedUsers.length==0" ng-click="deleteSelectedUsers()"><span
					class="glyphicon glyphicon-trash"></span> Delete {{selectedUsers.length}} users
			</button>

			<button id="message" class="btn btn-default" ng-disabled="selectedUsers.length==0" ng-click="sendMessage(selectedUsers)">
				<span class="glyphicon glyphicon-volume-up"></span> Message {{selectedUsers.length}} users
			</button>
			
		</div>
		<div class="tenpxbelow hidden-lg hidden-print">
			<button class="btn btn-danger" ng-disabled="selectedUsers.length==0" ng-click="deleteSelectedUsers()"><span
					class="glyphicon glyphicon-trash"></span> Delete {{selectedUsers.length}}
			</button>

			<button class="btn btn-default" ng-disabled="selectedUsers.length==0" ng-click="sendMessage(selectedUsers)">
				<span class="glyphicon glyphicon-volume-up"></span> Message {{selectedUsers.length}}
			</button>
			
		</div>
		<div class="tenpxbelow hidden-print">
			<input type="checkbox" ng-model="multiSelect" ng-disabled="selectedUsers.length>1"> Multi select
		</div>
		<hr/>
		<div class="table-responsive">
			<table ng-table="usersTable" class="table ng-table-rowselected" show-filter="true">
				<tr ng-repeat="user in $data" ng-click="changeSelection(user)" ng-class="{'active': user.$selected, 'whitebg': !user.$selected}">
					<td data-title="'UserID'" filter="{ 'id': 'text' }"><a href="#/gamer/{{user._id}}">{{user._id}}</a>
					</td>
					<td data-title="''">
                		<span ng-class="{ 'fa fa-cloud': user.network == 'anonymous', 'fa fa-envelope': user.network == 'email', 'fa fa-facebook-square': user.network == 'facebook', 'fa fa-google-plus-square': user.network == 'googleplus', 'fa fa-apple': user.network == 'gamecenter'}"></span>
					</td>
					<td data-title="'Name'" filter="{ 'q': 'text' }">
						{{user.profile.displayName}}
					</td>
					<td data-title="'Email'" filter="{ 'q': 'text' }">
						<a href="mailto:{{user.profile.email}}">{{user.profile.email}}</a>
					</td>
					<td data-title="'Language'">
						{{user.profile.lang}}
					</td>
					<td data-title="'Linked to'">
                		<span ng-class="{ 'fa fa-facebook-square': user.links.facebook}"></span>
                		<span ng-class="{ 'fa fa-google-square': user.links.googleplus}"></span>
                		<span ng-class="{ 'fa fa-apple': user.links.gamecenter}"></span>
					</td>
					<td data-title="'Events'">
						{{user.mqPending}} / {{user.mqTimedout}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<script type="text/ng-template" id="users.sendMessage.html">
	<div class="modal-header">
		<h3>Send message to {{header}}</h3>
		<h5>Domain : {{domain}}</h5>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="message" class="col-sm-3 control-label">JSON Message</label>
				<div class="col-sm-9">
					<input type="text" ng-model= "message.value" class="form-control" placeholder='{"key":"value", "key":"value"} "id" is reserved'>
				</div>
				<label for="osnotif" class="col-sm-3 control-label">OS Notification</label>
				<div class="col-sm-9">
					<input type="text" ng-model= "message.osn" class="form-control" placeholder='{"en":"hello!", "fr":"salut!", "data" : "extra-data"}'>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Send</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>

