<div ng-controller="EditKVStoreCtrl">
	<div>
		<!-- 
		<div class="input-group tenpxabove">
			<input type="text" class="form-control" ng-model="newKeyName" placeholder="Enter Key name and press 'Add new Key'">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" ng-click="addNewKey(newKeyName)">
						<span class="glyphicon glyphicon-plus"></span>
						Add new Key
					</button>
                </span>
		</div>
		-->

		<div class="kv-grid tenpxabove" ng-grid="kvstoreGrid"></div>
		<!--
		<div class="tenpxabove">
			<button id="deleteKey" class="btn btn-danger" type="button" ng-disabled="selectedKey.length!=1" ng-click="deleteKey(selectedKey[0])">
				<span class="glyphicon glyphicon-trash"></span> Delete Key
			</button>
		</div>
		-->
	</div>
	<!--
	<div class="tenpxabove modal-footer">
		<button class="btn btn-primary" ng-click="ok(include)">Save</button>
	</div>
	-->
</div>

