<div ng-controller="EditUserProfileCtrl">
	<div class ="tenpxabove">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="avatar" class="col-sm-3 control-label"><img ng-src="{{profile.avatar}}">Avatar</label>
				<div class="col-sm-9">
					<input type="text" ng-model="profile.avatar" class="form-control" id="avatar" placeholder="avatar URL">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-3 control-label">Email</label>
				<div class="col-sm-9">
					<input type="text" ng-model="profile.email" class="form-control" id="email" placeholder="email address">
				</div>
			</div>
			<div class="form-group">
				<label for="displayName" class="col-sm-3 control-label">Display name</label>
				<div class="col-sm-9">
					<input type="text" ng-model="profile.displayName" class="form-control" id="displayName" placeholder="display name">
				</div>
			</div>
			<div class="form-group">
				<label for="firstName" class="col-sm-3 control-label">Firstname</label>
				<div class="col-sm-9">
					<input type="text" ng-model="profile.firstName" class="form-control" id="firstName" placeholder="firstname">
				</div>
			</div>
			<div class="form-group">
				<label for="lastName" class="col-sm-3 control-label">Lastname</label>
				<div class="col-sm-9">
					<input type="text" ng-model="profile.lastName" class="form-control" id="lastName" placeholder="lastname">
				</div>
			</div>
			<div class="form-group">
				<label for="addr1" class="col-sm-3 control-label">Address</label>
				<div class="col-sm-9">
					<input type="text" ng-model="profile.addr1" class="form-control" id="addr1" placeholder="Address">
				</div>
			</div>
			<div class="form-group">
				<label for="addr2" class="col-sm-3 control-label"></label>
				<div class="col-sm-9">
					<input type="text" ng-model="profile.addr2" class="form-control" id="addr2" placeholder="Address">
				</div>
			</div>
			<div class="form-group">
				<label for="addr3" class="col-sm-3 control-label"></label>
				<div class="col-sm-9">
					<input type="text" ng-model="profile.addr3" class="form-control" id="addr3" placeholder="Address">
				</div>
			</div>
			<br/>
			<div class="form-group">
				<label for="lang" class="col-sm-3 control-label">Language</label>
				<div class="col-sm-9">
					<input type="text" ng-model="profile.lang" class="form-control" id="lang" placeholder="Language">
				</div>
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok(include)">Save</button>
	</div>
</div>

