<div ng-controller="UserBestScoresCtrl">
	<div class="tenpxabove">
		<div class="table-responsive">
			<table ng-table="scoresTable" class="table ng-table-rowselected" template-pagination="custom/no_pager">
				<tr ng-repeat="score in $data">
					<td><a ng-click="deleteScore(score.leaderboard)"> <i class="glyphicon glyphicon-trash"/></a></td>
					<td data-title="'Leaderboard'">{{score.leaderboard}}</td>
					<td data-title="'Score'">{{score.score}}</td>
					<td data-title="'Rank'">{{score.rank}}</td>
					<td data-title="'Description'">{{score.info}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
