<div ng-controller="EditUserStorageCtrl">
	<div class="tenpxabove">
		<div class="input-group tenpxabove">
			<input type="text" class="form-control" ng-model="newKeyName" placeholder="Enter key name and press 'Add new key'">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" ng-click="addNewKey(newKeyName)">
						<span class="glyphicon glyphicon-plus"></span>
						Add new key
					</button>
                </span>
		</div>
		<div class="kv-grid tenpxabove" ng-grid="kvGrid"></div>
		<div class="tenpxabove">
			<button id="deleteKey" class="btn btn-danger" type="button" ng-disabled="selectedKey.length!=1" ng-click="deleteKey(selectedKey[0])">
				<span class="glyphicon glyphicon-trash"></span> Delete Key
			</button>

		</div>
		<div class="tenpxabove modal-footer">
			<button class="btn btn-primary" ng-click="ok()">Save</button>
		</div>
	</div>
</div>

