@import "~bootswatch/dist/superhero/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/superhero/bootswatch";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-height-100-vh {
  height: calc(100vh - 90px);
}

.max-w-600px {
  max-width: 600px;
}

.deco-none {
  text-decoration: none;
  color: inherit;
}

.Toastify__toast-theme--dark {
  font-size: 12px;
}

.Toastify__toast-icon {
  width: 20px;
}

img,
svg {
  vertical-align: baseline;
}

.arrow-back {
  vertical-align: middle !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.remove-btn-css {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.grayout {
  opacity: 0.3; /* Real browsers */
  filter: alpha(opacity = 100); /* MSIE */
}

.score-bubble {
  font-size: 15px;
  font-weight: 500;
  margin-right: 15px;
}

.clickable {
  cursor: pointer;
}

.p-0-important {
  padding: 0 !important;
}

.jsoneditor {
  border: none;
}

.jsoneditor-menu,
.jsoneditor-statusbar {
  border: none;
  background-color: inherit;
  color: #ececec;
}

.jsoneditor-tree {
  background-color: #282a36 !important;
}
.jsoneditor-poweredBy {
  display: none;
}

div.jsoneditor-field,
div.jsoneditor-value,
div.jsoneditor td,
div.jsoneditor th,
div.jsoneditor textarea,
pre.jsoneditor-preview,
.jsoneditor-schema-error,
.jsoneditor-popover {
  color: #ececec;
}

div.jsoneditor-value.jsoneditor-string {
  color: #f1fa8c;
}

div.jsoneditor-value.jsoneditor-number {
  color: #bd93f9;
}

.white-circle{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}