body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-height-100-vh {
  height: calc(100vh - 60px);
}

.max-w-600px {
  max-width: 600px;
}

.deco-none {
  text-decoration: none;
  color: inherit;
}

@import "~bootstrap/scss/bootstrap";
